<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <!-- 以下都是为sessionFactory对象配置的-->
    <session-factory>

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/users</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.isolation">4</property>
        <!--<property name="hibernate.current_session_context_class">thread</property>-->

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping resource="SSH/domain/User.hbm.xml"/>
        <mapping class="SSH.domain.User"/>
    </session-factory>
</hibernate-configuration>